/* Hero Contact */
#heroContact {
    background-color: #FAFFEF;
    padding: 90px 70px;
    text-align: center;
}

#heroContact h1 {
    color: #000;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    line-height: 130%;
    /* 71.5px */
}

#heroContact p {
    color: #000;
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    /* 31.2px */
    letter-spacing: 0.5px;
    margin-top: 35px;
}


.btn {
    background-color: black;
    color: white;
    padding: 12px 28px;
    border-radius: 6px;
    border: 0px;
    margin-top: 28px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {

    #heroContact {
        padding: 90px 30px;
    }

    #heroContact h1 {
        font-size: 42px;
    }

    #heroContact p {
        font-size: 18px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}

/* Contact Form */

#contact {
    display: flex;
    gap: 60px;
    padding: 40px;
}

#contactForm {
    box-shadow: 0px 0px 13px #e7e7e7;
    padding: 30px;
    border-radius: 8px;
    width: 50%;
    display: flex;
    flex-direction: column;
}



#contactForm h2 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

#contactForm p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.5px;
    margin-top: 25px;
}

#form {
    display: flex;
    /* flex-direction: column; */
    margin-top: 16px;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

#form input,
#form textarea {
    padding: 19px;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
}

#form textarea {
    height: 150px;
}

.btn {
    background-color: black;
    color: white;
    padding: 12px 28px;
    border-radius: 6px;
    border: 0px;
    margin-top: 20px;
    font-size: 16px;
}


#contactDetails {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contactDetails h3 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

#contactDetails h4 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.4%;
    /* 31.776px */
    margin-top: 44px;
}

#contactDetails p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.5px;
    margin-top: 10px;
}

#mail,
#phone {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}

#contactDetails a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 125% */
}

#contactSocial {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#contactImg img {
    width: 100%;
    margin-top: 20px;
}


@media screen and (max-width: 1024px) {

    #contact {
        flex-direction: column;
        align-items: center;
    }

    #contactDetails {
        width: 100%;
    }

    #contactForm {
        width: 90%;

    }

}

@media screen and (max-width: 768px) {

    #contact {
        padding: 50px 20px;
    }

    #contactForm {
        padding: 40px 20px;
    }

    #contactForm h2 {
        font-size: 28px;
    }

    #contactForm p {
        font-size: 16px;
        margin-top: 10px;
    }

}


/* FAQs Section
 */



#whyGropzy {
    background: #FFFCF5;
    padding: 46px 129px;
}

#whyGropzy h2 {
    color: black;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.choose {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

.chooseHeading {
    display: flex;
    justify-content: space-between;
}

.chooseHeading h3 {
    font-size: 24px;
    font-weight: 700;
}

.icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.icon:hover {
    border: 1px solid #6CBF00;
    color: #6CBF00;
}


.icon.active {
    color: #6CBF00;
    background-color: #F3FFDA;
    rotate: 180deg;
}

.separator {
    width: 100%;
    height: 2px;
    background: #D7D7D7;
    margin-top: 10px;
    border-radius: 100%;
}

.chooseInner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.chooseInner p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px) {

    .chooseInner {
        flex-direction: column-reverse;
    }

    #whyGropzy {
        padding: 46px 50px;
    }

}

@media screen and (max-width: 445px) {

    #whyGropzy {
        padding: 20px;
    }

    #whyGropzy h2 {
        font-size: 30px;
    }

    .choose {
        padding: 15px;
    }

    .chooseHeading h3 {
        font-size: 20px;
    }

    .chooseInner p {
        font-size: 16px;
    }

    .chooseInner img {
        width: 100%;
    }

}

/* Quick Info */


#quickInfo {
    display: flex;
    justify-content: space-between;
    margin: 20px 150px;
    padding: 30px 43px;
    border-radius: 8px;
    background-color: black;
    color: white;
}

#quickInfo h2 {
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    color: white;
}

#quickInfoDiv {
    width: 75%;
}

.btnGreen {
    background-color: #6CBF00;
    color: white;
    padding: 12px 28px;
    border-radius: 6px;
    border: 0px;
    font-size: 16px;
}

#quickInfoBtn {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#quickInfo p {
    font-size: 18px;
    font-style: normal;
    line-height: 130%;
    /* 23.4px */
    letter-spacing: 0.5px;
    margin-top: 21px;
}

@media screen and (max-width: 768px) {

    #quickInfo {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;

        margin: 20px;
    }

    #quickInfoDiv {
        width: 100%;
    }

    #quickInfoBtn {
        margin-top: 20px;
        width: 100%;
    }

}

@media screen and (max-width: 425px) {

    #quickInfo {
        margin: 30px 15px;
    }

    #quickInfo h2 {
        font-size: 32px;
    }

    #quickInfo p {
        font-size: 16px;
        line-height: 1.6;
    }

    .btnGreen {
        padding: 10px 20px;
        font-size: 14px;
    }

}